.mainPage {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

.maingPage2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    margin-top: -175px;
    /* background-color: red; */
}

.mainPage p {
    margin-bottom: 600px;
    color: #000;
}