.center1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .logInput{
    width: 80%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;

    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
  .loginContainer{
    margin-bottom: 300px;
    width: 300px;
    height: 350px;
    /* background-color: #fff; */
    /* opacity: 0.8; */
  }
  .loginForm{
    display:flex;
    flex-direction: column;
    /* background-color: #fff; */
    /* opacity: 0.8; */

    background: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
  .loginContainer:hover{
    opacity: 1;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }

  h1 p {
    text-align: center;
    color:#000
  }